@charset "utf-8";
/* CSS Document */

/* MENU STYLES */

.container {
	position: relative;
}
.menu-wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Rotate On Hover */
.menu-wrap .toggler:hover + .hamburger > div {
  transform: rotate(180deg);
}
/* onload-rotation */
@keyframes rotateOnLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.hamburger > div {
  /* This section calls the rotateOnLoad animation we defined above */
  animation: 1s ease-out 1s 3 rotateOnLoad;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

/* Hide Menu */
.menu-wrap:active ~ .menu {
  visibility: hidden;
}

.menu-wrap:active ~ .menu > div {
  transform: scale(0);
  transition-duration: var(--menu-speed);
}

.menu-wrap:active ~ .menu > div > div {
  opacity: 0;
  transition:  opacity 0.4s ease 0.4s;
}


.menu-wrap .menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu a {
  font-size: 1.5rem;
	font-weight: 500;
}

.menu-wrap .menu > div {
  background: var(--menu-grey);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  padding: .5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: #ffdb4c;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: darkblue;
  transition: color 0.4s ease;
}