:root {
  --menu-grey: rgba(100, 100, 100, 0.9);
  --menu-speed: 0.75s;
}
body {
	background-color: #ccc;
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-items: center;
}

body,
html,
main {
	height: 100%;
}

body,
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.font-alt {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

#navbar {
	background: linear-gradient(#ffdb4c, #bfa438);
}

#sticker {
	margin-bottom: 0rem;
	max-height: 70px;
}

.retro {
	
	width: 100%;
	max-width: 800px;
	height: auto;
	border-style: solid;
	border-width: 2px;
	border-color: #ffdb4c;
	display: block;
	margin: 0 auto;
}

video {
	width: 100%;
	max-width: 800px;
	height: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #ffdb4c;
	display: block;
	margin: 0 auto;

}


footer {
	position: sticky;
	height: 50px;
	width: 100%;
	background-color: #ccc;
}

.social-img {
	height: 25px;
}

.social-img:hover,
.social-img:focus,
.social-img:active {
	transform: scale(1.5, 1.5);
	transition-duration: 0.5s;
}


.img-sm {
	margin-top: 1rem;
	max-width: 100%;
	
	}
  
.img-sm img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}


.posts > ul > li {
	list-style: none;
	padding: .5rem;
	}

.posts > ul > li > a {
	text-decoration: none;
	color: var(--menu-grey);
	font-size: 1.3rem;
	}

.posts > ul > li > a:hover {
	color: black;
	font-weight: bold;
	transition: color 0.4s ease;
	  }
.thumb-right {
	display: flex; 
	justify-content : flex-end;
		}

.thumb-right > a > img {
	border-style: solid;
	border-width: 3px;
	border-color: #ccc;
	filter: sepia(100);
}

.thumb-right > a > img:hover {
	border-style: solid;
	border-width: 3px;
	border-color: #ffdb4c;
	filter: sepia(0);
	transition: border filter 0.4s ease;
}

.retrobox {
			display: flex; 
			justify-content : center;
			align-items: center;
				}

.retrobox > img {
	max-width: 90vw;
}

.retrobox > a > img {
	max-width: 90vw;
}


.retrobox > video {
	margin-bottom: 1rem;
}

.rotate {
	animation: rotation 4s linear;
	padding-right: 1rem;
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

  .move {
	animation-name: movetoright;
	animation-timing-function: ease-out;                
    animation-duration: 1s;  
  }

  @keyframes movetoright {
    from {  transform: translateX(-100px)    }
    to   {  transform: translateX(0px) }

	from { opacity: 0; }
    to { opacity: 1; }
}