<!doctype html>
<html lang="de">
  <head>
      {{ partial "head" . }}
    </head>
  <body>
    {{ partial "header" . }}

    <main class="d-flex py-2">
      <div class="container p-2 align-self-center">
      <!--
      <h1 class="text-center mb-3 py-3">Aktuelles</h1>
        <h4 class="text-center mt-3 py-1">Verleihung des Viadrina-Förderpreises an die Viaphoniker</h4>
        <div class="p-3"> <img class="retro" src="/img/viadrinapreis.jpg">
          <div class="p-3">
            <h6 class="text-center">Am 5. Oktober 2021 wurde unserem Orchester der Viadrina-Förderpreis verliehen.</h6>
            <h6 class="text-center">Monique Vollbrecht, unsere 1. Vorsitzende, nahm den Preis von Prof. Dr. Julia von Blumenthal<br>
              im Beisein unserer beiden Dirigenten Robert Hübner und Tony Köster entgegen.</h6>
          </div>
        </div>
        <hr>
       <div class="p-3">
        <h4>Unser nächstes Live-Konzert?</h4>
        <h4 class="text-success">... leider ist momentan kein Konzert geplant.</h4>
        <h6>Wir halten Euch auf dem Laufenden.</h6>
        </div>
      -->
      {{ block "main" . }} {{ end }}
      </div>
    </main>

     {{ partial "footer" . }}

  </body>
</html>
