{{ define "main" }}

{{ $update := .Page.Date }}
{{ $subtitle := .Params.subtitle }}
{{ $featured_video := .Params.featured_video }}

<main>
    <article>
        <header>
            <h1 style="text-align: center; padding: 1rem;">{{ .Page.Title }}</h1>
            <h4 style="text-align: center; padding-bottom: 1rem;">{{ $subtitle }}</h4>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{ .Content }}
        <br>
    </article>

    
    {{ if .Params.cards }}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {{ range $e := .Params.cards }}
                <div class="col">
                    <div class="card h-100 border-secondary">
                        {{ with .image }}
                            <img src="{{ . }}" class="card-img-top" alt="Bild">
                        {{ end }}
                            <div class="card-body">
                                <h5 class="card-title">{{ .title }}</h5>
                                <p class="card-text"></p>
                                {{ with .link }}
                                    <a href="{{ . }}" target="_blank" class="btn btn-secondary">{{ $e.linkText }}</a>
                                {{ end }}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ .text }}</small>
                            </div>    
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ if (and ( .Params.featured_video ) ( .Params.featured_image )) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <video controls poster="{{ ($image.Resize "800x450 Lanczos").RelPermalink }}" src="{{ $featured_video }}"></video>
    </div>
    {{ else if ( .Params.featured_video ) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <video controls src="{{ $featured_video }}"></video>
    </div>
    {{ else if ( .Params.featured_image ) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <img src="{{ ($image.Resize "800x450 Lanczos").RelPermalink }}"/>
    </div>
    {{ end }}
    {{ if ( .Params.featured_text ) }}
    <div class="retrobox">
        <h6 style="text-align: center; padding: 1rem; max-width: 800px;">{{ .Params.featured_text }}</h6>
    </div>
    {{ end }}
    <hr>
</main>
<small class="text-muted">Letzte Aktualisierung {{ $update.Format "02.01.2006" }}</small>

{{ end }}
