<footer>
  <div class="container pt-3">
    <div class="row row-cols-auto">
      <div class="col mx-auto"> 
        <a class="text-dark" href="mailto:info@viaphoniker.de" target="_blank" rel="noopener" aria-label="E-Mail an Viaphoniker senden"> 
          <img class="social-img mx-auto" src="/img/pencil-square.svg" alt="E-Mail Icon" loading="lazy"> 
        </a> 
      </div>
      <div class="col mx-auto"> 
        <a href="https://www.instagram.com/viaphoniker" target="_blank" rel="noopener" aria-label="Viaphoniker auf Instagram"> 
          <img class="social-img" src="/img/instagram.svg" alt="Instagram Icon" loading="lazy"> 
        </a> 
      </div>
      <div class="col mx-auto"> 
        <a href="https://www.facebook.com/viaphoniker" target="_blank" rel="noopener" aria-label="Viaphoniker auf Facebook"> 
          <img class="social-img" src="/img/facebook.svg" alt="Facebook Icon" loading="lazy"> 
        </a> 
      </div>
    </div>
  </div>
</footer>
  <!-- Bootstrap Bundle with Popper --> 

  <!-- JavaScript Bundle with Popper -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!--animiertes Logo-->
<script> 
		document.getElementById('sticker').src = "/img/Sticker.gif";
		document.getElementById('sticker').addEventListener('mouseover', animOn);
		document.getElementById('sticker').addEventListener('mouseout', animOff);

		function animOn() {
			let On = document.getElementById('sticker');
			On.src = "/img/via-logo-anim.gif";
		}

		function animOff() {
			let Off = document.getElementById('sticker');
			Off.src = "/img/Sticker.gif";
		}
</script>