<footer>
  <div class="container pt-3">
    <div class="row row-cols-auto">
      <div class="col mx-auto"> <a class="text-dark" href="mailto:info@viaphoniker.de" target="_blank"> <img class="social-img mx-auto" src="img/pencil-square.svg" alt="E-Mail"> </a> </div>
      <div class="col mx-auto"> <a href="https://www.instagram.com/viaphoniker" target="_blank"> <img class="social-img" src="img/instagram.svg" alt="Instagramm"> </a> </div>
      <div class="col mx-auto"> <a href="https://www.facebook.com/viaphoniker" target="_blank"> <img class="social-img" src="img/facebook.svg" alt="Facebook"> </a> </div>
    </div>
  </div>
</footer>
  <!-- Bootstrap Bundle with Popper --> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
<script>
      // Prepare the body tag by adding a "js-paused" class
      document.body.className += " js-loading";

      // Listen for when everything has loaded
      window.addEventListener("load", showPage, false);

      function showPage() {
        // Remove the "js-paused" class
        document.body.className = document.body.className.replace("js-loading","");
      }
    </script>

<!-- script for carousel -->
<script>
		document.getElementById('sticker').src = "img/Sticker.gif";
		document.getElementById('sticker').addEventListener('mouseover', animOn);
		document.getElementById('sticker').addEventListener('mouseout', animOff);

		function animOn() {
			let On = document.getElementById('sticker');
			On.src = "img/via-logo-anim.gif";
		}

		function animOff() {
			let Off = document.getElementById('sticker');
			Off.src = "img/Sticker.gif";
		}

	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>