<nav id="navbar" class="navbar navbar-expand-lg sticky-top py-2 ">
  <div class="container"> 
    
    <a class="navbar-brand ms-2" href="index.html"> <img id="sticker" alt="VIAPHONIKER"> </a>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" autocomplete="off">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="index.html">Aktuelles</a></li>
              <li><a href="musizierende.html">Musizierende</a></li>
              <li><a href="proben.html">Proben</a></li>
              <li><a href="probenwochenende.html">Probenwochenenden</a></li>
              <li><a href="retrospektive.html">Retrospektive</a></li>
              <li><a href="kontakt.html">Kontakt &amp; Buchung</a></li>
              <li><a href="freunde.html">Förderer &amp; Freunde</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>