<nav id="navbar" class="navbar navbar-expand-lg sticky-top py-2" aria-label="Hauptnavigation">
  <div class="container"> 
    
    <a class="navbar-brand ms-2" href="/" aria-label="Zur Startseite"> 
      <img id="sticker" alt="Viaphoniker Logo" loading="lazy"> 
    </a>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" autocomplete="off" aria-label="Menü öffnen/schließen">
      <div class="hamburger" role="button" aria-label="Menü">
        <div></div>
      </div>
      <div class="menu" role="navigation">
        <div>
          <div>
            <ul role="list">
              {{ range .Site.Menus.main }}
              <li class="nav-item">
                  <a class="nav-link {{ if $.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre }}
                  <span>{{ .Name }}</span></a>
              </li>
          {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>