{{ define "main" }}

{{ $update := .Page.Date }}
{{ $subtitle := .Params.subtitle }}
{{ $featured_link := .Params.featured_link }}

<main>
    <article>
        <header>
            <h1 style="text-align: center; padding: .1rem;">{{ .Page.Title }}</h1>
            <h4 style="text-align: center; padding-bottom: .1rem;">{{ $subtitle }}</h4>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{ .Content }}
        <br>
    </article>

    {{ if (and ( .Params.featured_link ) ( .Params.featured_image )) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <video controls poster="{{ ($image.Resize "800x450 Lanczos").RelPermalink }}" src="{{ $featured_link }}"></video>
    </div>
    {{ else if ( .Params.featured_link ) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <video controls src="{{ $featured_link }}"></video>
    </div>
    {{ else if ( .Params.featured_image ) }}
    <div class="retrobox">
        {{ $imagePath := printf "/img/%s" .Params.featured_image }}
        {{ $image := resources.Get $imagePath }}
        <img src="{{ ($image.Resize "800x450 Lanczos").RelPermalink }}"/>
    </div>
    {{ end }}
    {{ if ( .Params.featured_text ) }}
    <div class="retrobox">
        <h4 style="text-align: center; padding: 1rem; max-width: 800px;">{{ .Params.featured_text }}</h4>
    </div>
    {{ end }}
    {{ if ( .Params.what_next ) }}
    <div class="retrobox">
        <img class="rotate" src="img/what_next.png" alt="Pfeil">
        <h4 style="max-width: 800px;">{{ .Params.what_next }}</h4>
    </div>
    {{ end }}
    <hr>
</main>
<small class="text-muted">Letzte Aktualisierung {{ $update.Format "02.01.2006" }}</small>

{{ end }}

